@import "project.less";

.reset();
/*
font-family: 'Open Sans', sans-serif;
*/

.wrapper{
    .wrapper();
}


.debugGrid{
    .debug(rgba(0, 0, 0, 0.2), 1px solid #f90)
}


.header{
    
	background-image: linear-gradient(35deg, #1068a8 17%, #6fc1e4 83%);
    font-family: 'Intro';
    color:@color_white;
    
    
    
    
    .man{
        background-image: url("../img/header.png") ;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        padding: 30px 25px 170px 25px;  
        
        .headerUp{
            .row-flex();
            align-items: center;
            padding: 0 5px;
                    
        
                      
            .logo{
                
                .size(2.95);                     img{
                    width: 37px;
                    hight: 32px;
                    margin-right: 10px;
                    float: left;
                }
                
                .smm{
                    overflow: hidden;
                    text-align: left;
                    padding-left: 10px;
                }
                
            }
    
            
            .navmeniu{
                
                .size(6);
                
                ul{
                    
                    li{
                        display: inline;
                        margin-right: 27px;
                        a{
                            text-decoration: none;
                           color: @color_white;
                        }
                    }
                }
            }
            .phone{
               
                .size(3.95);
             
                text-align: right;
                font-size: 23px;
               font-family: 'MyradPro';
            }
        } 
        
        .headerDown{
            margin-top: 110px;
            h1{
                font-size: 50px;
                width: 500px;
                line-height: 56.3px;
            }
            
            p{    
                margin-top: 15px;
                margin-bottom: 28px;
                font-size: 14px;
                font-family: 'Open Sans';
                width: 300px;
            }
            
            .btn{
                a{
                    
                    font-family: 'Intro';
                    color: #0081df;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    transform: scale(1.211,1.22);
                    text-decoration: none;
                }
                width: 218px;
	            height: 61px;
	            background-color: #ffffff;
                border-radius: 50px ;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
            }
            
            
        }
    }
    
}

.oueClients{
    padding: 90px 0;
    
    h2{
        font-family: Intro;
        color: #0081df;
        font-size: 50px;
        font-weight: 400;
        line-height: 56.3px;
     }
    
    .slogan{
        padding-top: 25px;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 25.3px;
        .row-flex();
        justify-content: space-between;
        p{
          .col();
            
            &:nth-child(1){
                .size(6.5);
                text-align: left;
            }
            
            &:nth-child(2n){
                .size(4.5);
                text-align: right;
            }

            
        }
        
    }
    
    .miniBaner{
        padding-top: 50px;
        color:@color_white;
        .row-flex();
        
        .item{
            .col();
            .size(3);
            
            p{
                margin-top: -100px;
                padding: 0 30px;
                text-align: center;
                
            }
        }
    }
}


.compleks{
    margin-top: 65px;
    background-image: url("../img/comlex.png");
    background-repeat: no-repeat;
    background-position: 89% 50%;
    background-size: auto;
    padding-bottom: 10px;
    padding-top: 15px;
    
    h2{
        font-family: 'Intro';
        color:@color_blue;
        font-size: 31.72*1.127px;
	    line-height: 31.723*1.14px;
        width: 60%;
        padding-left: 5px;
        
	    
        span{
            font-size: 24.67*1.127px;
	        line-height: 35.248*1.127px; 
        }
    }
    
    .items{
        padding-top: 85px;
        padding-left: 5px;
        font-family: 'Open Sans';
        font-size: 24*0.818px;
        font-weight: 600;
        line-height: 35.3*0.818px;
        
        
        .item{
            width: 40%;
            margin-bottom: 70px;
            img{
                float: left;
                width: 120px;
	            height: 116px;
                margin-right: 45px;
            }
            p{
                text-align: left;
            }
            
            &:nth-child(2n){
                  img{
                        float: right;
                        margin-left: 30px;
                        margin-right: 0px;  
                          
                          
                    }
                    p{
                        text-align: right;
                    }
            }
            
            overflow: hidden;
        }
        
    }
}

.slaid{
    padding: 140px 0 0 0;
    h2{
        font-family: Intro;
        color: #0081df;
        font-size: 50px;
        font-weight: 400;
        line-height: 56.3px;
        margin-bottom: 40px;
    }
    
    &_items{
        .row-flex();
        .item{
            .col();
            .size(4);
            border: 2px solid  @color_blue;
            border-radius: 5px;
            
            padding: 35px 40px;
            
            h3{
                margin-bottom: 30px;
                text-align: center;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                font-family: Intro;
                color:@color_blue;
            }

            p{
                padding: 0px 10px 5px 10px;
                font-size: 12.63*1.1;
                font-family: 'Open Sans';
                font-weight: 400;   
                color:@color_grey;
                span{
                     font-weight:bold;
                    color: @color_black;
                }
            }
        }
    }
    
}

.learnOrder{
            padding: 30px 0;
            
            .row{
                    .row-flex();
                    
                
                img{
                    .col();
                    .size(6);
                    padding: 0 0px;

                }    
        
                .rowIn{
                    .col();
                    justify-content: flex-end;
                    padding: 60px 0;
                    h3{
                        font-family: 'Intro';
                        color: @color_blue;
                        font-size: 25.71*1.167px;
                        font-weight: 400;
                        line-height: 40.284*1.167px;
                        text-align: right;
                        

                    }
                    .center{
                        text-align: right;
                        .b{
                            margin: 30px auto;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 235px;
                            height: 65px;
                            border-radius: 40px;
                            background-color:@color_blue;
                            a{  

                                text-decoration: none;
                                color:@color_white;
                                font-family: 'Intro';
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;

                            }
                        }
                    }
                }
        
            }
        
    
}

.price{
    margin-top: 35px;
    h2{
        font-family: 'Intro';
        color:@color_blue;
        font-size: 47px;    
    	font-weight: 400;
    	line-height: 56.3px;
        max-width: 60%;
    }
    .pwp{
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 25.3px;
        max-width: 60%;
        
    }
    .items{
        .row-flex();
        text-align: center;
        font-family: 'Open Sans';
        
        .item{
            .col();
            .size(3);
            border: 2px solid;
            border-color: @color_blue;
            border-color: @color_blue;
            border-radius: 20px;
            p{
                
                padding: 30px 30px 3px 30px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                font-family: 'Open Sans';
                
            }
            &_sale{
                color:@color_blue;
                font-weight:bold;
                span{
                    font-weight: lighter;
                    text-decoration: line-through;

                }
            }
            &_price{
                color:@color_blue;
            }
            
            .buttom{
                margin-top: 45px;
                margin-bottom: 20px;
                a{
                    text-decoration: none;
                    color: @color_white;
                    background-color: @color_blue;
                    padding: 10px 25px;
                    border-radius: 20px;
                }
            }
            
            .what{
                padding-top:10px; 
            }

        }
    }
}

.timer{
    margin-top: 60px;
	background-image: linear-gradient(84deg, #1590ea 0%, #6fc1e4 100%);
    color: @color_white;

    .row{
        padding-top: 40px;
        font-family: Intro;
        
        font-size: 45*0.958px;
        font-weight: 400;
        line-height: 56.3*0.958px;
           
        color:@color_white;
        .row-flex();
        justify-content: center;
       
        
        
        h3{
            margin-top: 30px;
            margin-bottom: 100px;
            .col();
            .size(12);
            text-align: center;
        }
        .clock{
            .col();
            .size(3);
            font-size:213px*0.86;
            h4{
                font-size: 59px*0.86;
                margin-top: 35px;
                margin-bottom: 55px;
            }
        }
        
    }
}

.working{
    margin-bottom: 5px;
    .row{
        .row-flex();
        .content{
            .col();
            .size(7);
            justify-content: space-between;
           h3{
                margin-top: 65px;
                margin-bottom: 60px;   
                font-family: 'Intro';
                color: @color_blue;
                font-size: 50px;
                font-weight: 400;
                line-height: 56.3px;
            }
    
            p, ul>li{
                font-family: 'OpenSans';
                font-size: 20px;
                font-weight: 400;
            }        
        }
        
        img{
            padding-top: 100px;
        }
        h4{
            .col();
            text-align: center;
            font-family: Intro;
            color: @color_blue;
            font-size: 30px;
            font-weight: 400;
            line-height: 40px;
        }
    }
    
 
    
}

.slideUp{
    color: @color_white;
    background-color: @color_blue;
    padding-top: 75px;
    padding-bottom: 110px;
    h2{
        
        font-family: Intro;
        font-size: 50px;
        font-weight: 400;
        line-height: 56.3px;
    }
    .row{
        
        padding-top: 100px;
        padding-bottom: 100px;
        .row-flex();
        .review{
            .col();
            .size(6);
            p{
                font-family: 'Open Sans';
                font-size: 12px;
            }
            
        }
    }
}

.formSend{
    .row{
        .row-flex();
        justify-content: space-between;
        .content{
            .col();
            .size(7);
            
            h3{
                padding: 80px 0 20px 0;
                font-family: Intro;
                color: @color_blue;
                font-size: 50px;
                font-weight: 400;
                line-height: 56.3px;
            }
            p{
                font-family: 'Open Sans';
                color: @color_black;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
            }
            
            .formS{
                background-color: @color_blue;
                color: @color_white;
                margin-top: 35px;
                
                width: 85%;
                
                form{
                        
                    .inpForm{
                        width: 428px;
                        margin: 0px auto;    
                        span{
                            font-family: 'Intro';
                            font-size: 33*0.756px;
                            font-weight: 400;
                            line-height: 30*0.756px;

                        }
                        input{
                            width: 428px;
                        	height: 50px;
	                        border-radius: 10px;
                            border-radius: 10px;
                            background-color: #ffffff;
                        }    
                    }
                    
                    p{
                        font-family: "Intro";
                        font-size: 12*0.883px;
                        font-weight: 400;
                        line-height: 18*0.883px;
                        color:@color_white;
                    }
                }
                
            }
        }
        .img{
            .col();
            .size(4.5);
            
        }
    }
}
